@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Mi proyecto para parcial #2 de ACC</h4>
    <h4>Carné: 2011-ML-604 Nombre: Julio Ernesto Macal López</h4>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
