@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Mi proyecto para parcial #2 de ACC</h4>
    <h4>Carné: 2011-ML-604 Nombre: Julio Ernesto Macal López</h4>
</div>

<div class="gallery">
    <img src="https://2011ml604juliomacal.blob.core.windows.net/gallery/Desk.jpg" alt="Desktop" width="240" height="240" />
    <img src="https://2011ml604juliomacal.blob.core.windows.net/gallery/Gamer.jpg" alt="Gamer" width="240" height="240" />
    <img src="https://2011ml604juliomacal.blob.core.windows.net/gallery/gamers.jpg" alt="Gamers" width="240" height="240" />
    <img src="https://2011ml604juliomacal.blob.core.windows.net/gallery/PC-GAMER.jpg" alt="PC_gamer" width="240" height="240" />
    <img src="https://2011ml604juliomacal.blob.core.windows.net/gallery/Setup.jpg" alt="Setup" width="240" height="240" />
</div>